# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pkl
*.log

# Environments
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Build / dist
build/
dist/
*.egg-info/

# Matplotlib / outputs - tbd
*.mp4
*.gif
*.png
